body{
    background-color: rgb(213, 223, 231);
}


@keyframes gradient-x {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
  
  @keyframes float-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  
  @keyframes float-fast {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
  }
  
  .animate-gradient-x {
    animation: gradient-x 6s ease infinite;
    background-size: 200% 200%;
  }
  
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
  
  .animate-float-slow {
    animation: float-slow 1s ease-in-out infinite;
  }
  
  .animate-float-fast {
    animation: float-fast 3s ease-in-out infinite;
  }
  

