@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F4F4F4; /* Hero section background */
}

.chatbot-popup {
  position: relative;
  width: 420px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-popup .chat-header {
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #002147; /* Dark Blue */
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #002147;
  background: white; /* Accent color */
  border-radius: 50%;
}

.header-info .logo-text {
  color: #FFFFFF;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 1.3rem;
  padding-top: 7px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: -10px;
  background: none;
  transition: 0.2s ease;
}

.chat-header button:hover {
  background: #F39C12;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 460px;
  overflow-y: auto;
  padding: 25px 22px;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #F39C12 transparent;
  background-color: rgb(108, 117, 125,0.3);
  /* background: linear-gradient(to bottom, #002147, #6C757D, #F8FAFC, #FFFFFF); */
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #FFFFFF;
  align-self: flex-end;
  margin-bottom: 2px;
  background: #002147;
  border-radius: 50%;
}

.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  background: #002147;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
  color: #FFFFFF;
}

.chat-body .bot-message .message-text {
  background-color: #6C757D;
  border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
  color: #FFFFFF;
  background: #F39C12;
  border-radius: 13px 13px 3px 13px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}

.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #002147;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  outline: 1px solid #6C757D;
  border-radius: 32px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within {
  outline: 2px solid #F39C12;
}

.chat-footer .message-input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
  color: #002147;
}

.chat-footer button {
  height: 35px;
  width: 35px;
  background: #F39C12;
  color: #FFFFFF;
  flex-shrink: 0;
  border: none;
  outline: none;
  font-size: 1.15rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 6px;
  transition: 0.2s ease;
  display: none;
}

.chat-form button:hover {
  background: #6C757D;
}

.chat-form .message-input:valid ~ button {
  display: block;
}
